#nav {
    text-decoration: none;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    position: relative;
}

#nav a {
    font-weight: bold;
    color: #ffffff;
}

#linkhover {
    text-decoration: none;
    position: relative;
}
#linkhover::before {
    content: "";
    position: absolute;
    bottom: -2.5px;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #8e2de2, #4a00e0);
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.4s;
}

#linkhover:hover:before {
    transform: scaleX(1);
    transform-origin: left;
}
